<section class="component image-article">
  <div class="container">
    <div class="row bg-gray">
      <div class="col-md-6 no-padding">
          {{> atoms-media-block-image }}
      </div>
      <div class="col-md-6">
          {{> subcomponents-title-block-black-big }}
      </div>
    </div>
  </div>
</section>
