<section class="component image-with-caption">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{> subcomponents-title-block }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 no-padding">
          {{> atoms-gallery-image }}
          {{> subcomponents-image-caption }}
      </div>
      <div class="col-md-6 no-padding">
          {{> atoms-gallery-image }}
          {{> subcomponents-image-caption }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 no-padding">
        {{> atoms-gallery-image }}
        {{> subcomponents-image-caption }}
      </div>
      <div class="col-md-4 no-padding">
        {{> atoms-gallery-image }}
        {{> subcomponents-image-caption }}
      </div>
      <div class="col-md-4 no-padding">
        {{> atoms-gallery-image }}
        {{> subcomponents-image-caption }}
      </div>
    </div>
  </div>
  <div class="bottom-block">
    {{> atoms-button-more }}
  </div>
</section>
