<section class="component image-title-button">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-padding">
            {{> atoms-content-image }}
            {{> subcomponents-title-block-white-big }}
      </div>
    </div>
  </div>
</section>
