<section class="component header-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 no-padding">
            {{> atoms-cover-image}}
            {{> subcomponents-title-block-white }}
      </div>
    </div>
  </div>
</section>
