<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="${ctx.contextPath}/.resources/hibiscus-lite/webresources/css/main.css">
</head>
<body>
  {{> components-masthead-section }}
  {{> components-image-article }}
  {{> components-image-title-button }}
  {{> components-image-with-caption }}
</body>
