//
// Mixins
//

@mixin vertical-wrapper() {
  display: table;
  width: 100%;
  height: 100%;
}

@mixin vertical-centered() {
  display: table-cell;
  vertical-align: middle;
}

@mixin button-primary($color, $inverted) {
    padding: 0.5rem;
    border-width: 2px;
    border-radius: 0;
    border-color: $color;
    background: transparent;
    color: $color;
    &:focus, &:hover {
        border-color: $color;
        background-color: $color;
        color: $inverted;
    }
}

@mixin flex-center() {
    display: flex;
    width: 100%;
    position: absolute;
    top: 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 576px) {
        top: 10%;
    }
}
