<div class="subcomponent subcomponent-title-block-black-big">
      {{> atoms-content-title }}
      {{> atoms-delimiter }}
      {{> atoms-content-subtitle }}
      {{> atoms-content-text }}
      {{> atoms-button-inverted }}
</div>
