<div class="subcomponent subcomponent-title-block-white flex-center">
      {{> atoms-content-title }}
      {{> atoms-delimiter }}
      {{> atoms-content-subtitle }}
      {{> atoms-content-text }}
      {{> atoms-button }}
</div>
