.btn-primary {
    @include button-primary($btn-primary-color, $btn-inverted-color);
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.btn-secondary {
    @include button-primary($btn-inverted-color, $btn-primary-color);
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: 700;
}
