.content-title {
    font-family: $content-title-font;
    font-size: $font-size-h1;
    font-weight: $content-title-weight;
    text-shadow: $text-shadow;
}

@media screen and (max-width: 767px) {
    .content-title {
        font-size: 1.4rem;
    }
}
