.content-subtitle {
    font-family: $content-title-font;
    font-size: $font-size-h4;
    font-weight: $content-title-weight;
    text-shadow: $text-shadow;
}

@media screen and (max-width: 576px) {
    .content-subtitle {
        font-size: 1rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .content-subtitle {
        font-size: 1.2rem;
    }
}
