.content-text {
    font-family: $content-title-font;
    font-weight: $content-title-weight;
    text-shadow: $text-shadow;
}

@media screen and (max-width: 576px) {
    .content-text {
        font-size: 0;
        padding-bottom: 30px;
    }
}
