.image-flag {
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    clip-path: polygon(0 0%, 100% 0%, 100% 80%, 50% 95%, 0 80%);
}

.block-image{
    width: 100%;
}
