.bottom-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    border-top: 2px solid $white;
    background-color: $black;
}

.btn-more {
    margin-top: -$btn-padding-x;
    background-color: $black;
    z-index: 20;

    &:hover {
        background-color: $white;
  }
}
