.image-caption {
    @extend .subcomponent-title-block-white;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    text-align: left;

    & >.content-subtitle {
        font-size: $font-size-base;
}

    & >.content-title {
        font-size: $font-size-h4;
}

    & >.delimiter {
        width: 8%;
        margin-left: 0;
        border-width: 2px;
    }

      @media screen and (min-width: 768px) and (max-width: 991px) {
        .content-title{
            font-size: 1.2rem;
        }
        .delimiter{
          margin-top: 0;
          margin-bottom: 0;
        }

      }
}
