.subcomponent-title-block-black {

    padding-bottom: 30px;
    line-height: 1;
    text-align: center;

    .delimiter {
        border-color: $black;
    }

    .content-title {
        border-color: $black;
        color: $black;
  }

    .content-subtitle {
        color: $black;
  }

    .content-text {
        margin: 20px 0;
        color: $black;
    }
}

.subcomponent-title-block-black-big {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;

    .delimiter {
        border-color: $black;
        width: 14%;
  }

    .content-title {
        padding-top: 20px;
      }

    .btn {
        position: absolute;
        bottom: 0;
        align-self: center;
    }

    @media screen and (min-width: 576px) and (max-width: 767px) {
        .content-text{
          font-size: 0.8em;
          padding-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1140px) {
        .content-title {
            padding-top: 0;
            font-size: 1.5rem;
          }

        .content-subtitle {
            font-size: 1.2rem;
          }

        .content-text {
            font-size: 0.8rem;
          }
      }


}

.subcomponent-title-block-white {

    .delimiter {
        border-color: $white;
        width:6%;
  }

    .content-title {
        border-color: $white;
        color: $white;
  }

    .content-subtitle {
        color: $white;
  }

    .content-text {
        width: 75%;
        margin: 20px 0;
        color: $white;
  }

  @media screen and (max-width: 576px) {
      .content-text {
          display: none;
        }
    }

  @media screen and (min-width: 577px) and (max-width: 768px) {
    &.flex-center {
        top: 5%;
      }
   }
}

.flex-center {
    @include flex-center;
}
